.button
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  cursor: pointer
  color: #32718f
  font-weight: 400
  border: none

  &--yellow-block
    background-color: $accent
    border-radius: 4px
    height: 30px
    width: 100px
    margin-right: 15px
    margin-top: -3px
    color: #865801
    font-size: 13px
    max-width: 100px

  &--yellow
    color: $accent
    font-weight: 500
    font-size: 14px

  &--type-submit
    appearance: none
    border-radius: 0
    width: 61px
    height: 39px
    background: url('../img/header.png')no-repeat -213px -397px $accent
    margin: 0

  &--offer
    background: $accent
    @include flex--center
    color: rgba(0, 0, 0, 0.87)
    width: 176px
    height: 40px
    border-radius: 4px
    font-size: 16px
    margin: 10px 0 20px 0

    &:hover
      background: #FFDD2E


  &--review
    background-color: #e84b4f
    color: #fff
    border-radius: 10px
    padding: 5px 15px 5px 15px
    margin: 0 20px 20px 20px
    text-align: center
    font-size: 15px

    &-active
      background: #d61514