.categories
  @include flex--center
  position: relative
  background: #ffffff
  width: 100%
  border:
    top: 1px solid #dcdcdc
    bottom: 1px solid #dcdcdc
  z-index: 1000

  &--fixed
    position: fixed
    margin-top: -140px

  &--prevent-fixed-state
    position: relative
    margin-top: 0

  &__item
    font-weight: 500
    font-size: 14px
    margin: 15px 7px
    cursor: pointer

  &__active-element
    position: absolute
    width: 0
    height: 3px
    background: #bc0019
    bottom: 0
    left: 0
    transition: .3s ease-in-out

  &__blur
    display: none
    z-index: 900
    position: absolute
    width: 100vw
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: rgba(0, 0, 0, .4)
    transition: .3s ease-in-out
    opacity: 0
